.input {
    margin: 10px 5px 10px;
    padding: 10px 5px 10px;
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid var(--global-secondary-color);
    color: var(--header-text-color);
}