/* ========== Share Section ========== */
.Share-section {
  padding: 60px 5%;
  background-color: var(--white);
  text-align: center;
}
.Share-grid {
  display: grid;
  gap: 24px;
  justify-items: center;
  grid-template-columns: 1fr;
  max-width: 1250px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (min-width: 768px) {
  .Share-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .Share-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.Share-card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 19%);
  text-align: left;
  transition: transform 0.3s ease;
  /* width: 100%; */
  width: 400px;

}
.Share-card:hover {
  transform: translateY(-4px);
}
.Share-card .icon-box {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 12px;
}
/* .Share-card .desc-num p:first-child {} */
.Share-card h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
  text-align: center;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.num p:first-child {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 600;
}
.num p:last-child {
  color: #4b5563;
}
.next-previous {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.next-previous div {
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.next-previous div .icon {
  font-size: 16px;
}
.down {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2%;
  max-width: 1250px;
  margin: 60px auto;
}
.down .right {
  width: 49%;
  text-align: left;
}
.right-card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 1px 2px 9px rgb(0 0 0 / 19%);
  transition: transform 0.3s ease;
  width: 100%;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}
.right-card .icon-box {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 12px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #0fb48014;
  display: flex;
  justify-content: center;
  align-items: center
}
.rigth-num {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0px;
}
.rigth-desc-num {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.down .left {
  width: 49%;
}

/* ========== Tabs Section ========== */

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f1f4f9;
  border-radius: 6px;
}

.tab-button {
  background: #f1f5f9;
  padding: 8px 16px !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  color: #374151;
}

.tab-button:hover {
  background: #e2e8f0;
}

.tab-button.active {
  background: var(--primary-color);
  color: var(--white) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.tab-button.active::before,
.tab-button.active::after {
  content: none !important;
}

.tab-content {
  animation: fadeIn 0.3s ease;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 19%);
  padding: 20px !important;
}
.tab-content .content-title {
  font-weight: bold;
  color: #111827;
  margin-bottom: 15px;
  font-size: 1rem;

}
.tab-content .tab-title {
  font-weight: bold;
  color: #111827;
  margin-bottom: 4px;
  font-size: 1rem;
}

.tab-content .tab-desc {
  color: #4b5563;
  margin-bottom: 12px;
  font-size: 0.95rem;
}

/* Animation for smooth content switching */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.tab-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.div-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #0fb48014;
}
.tab-icon {
  color: var(--primary-color);
  font-size: 1.2rem;
  flex-shrink: 0;
  margin-top: 4px;

}
.tab-title {
  font-weight: bold;
  color: #111827;
  margin: 0;
}
.tab-desc {
  color: #4b5563;
  margin: 4px 0 0 0 !important;
  font-size: 0.95rem;
}
.botton-rigth {
  background-color: var(--primary-color);
  padding: 10px 30px ;
  margin-top: 30px;
  border: none;
}