.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    width: fit-content;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--global-secondary-color);
    padding: 20px 10px;
    border-radius: 5%;
}

.inputs-container {
    display: flex;
    height: 5vh;
    flex-direction: column;
    justify-content: space-around;
}

.horizontalContainer {
    flex-direction: row;
}