.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  margin-top: 60px;
}

.signup-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.048);
  padding: 60px;
  width: 100%;
  height: auto;
  border: 3px solid #ebebeb;
  max-width: 380px;
}

.signup-container h1 {
  text-align: center;
  color: #000000;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  color: #949494;
  margin-top: -18px;
  margin-bottom: 13%;
  font-size:16px;
  text-shadow: #0000000a 2px 2px 1px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: left;
  text-shadow: #00000005 1px 1px 1px;
}


.terms-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.terms-label {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #555; 
  cursor: pointer;
}

.terms-label input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.terms-link {
  color: #14c78e;
  text-decoration: none;
  margin-left: 4px;
}

.terms-link:hover {
  text-decoration: underline;
}

.error-message {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.login-link {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  color: #555;
}

.login-link a {
  color: #14c78e;
  text-decoration: none;
  font-weight: 500;
  margin-left: 4px;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .signup-container {
    padding: 20px;
  }
}
