/* ========== 1. Hero Section ========== */
/* ========== Hero Section ========== */
.hero {
  background-color: #0fb4802e;
  padding: 100px 5% 80px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.hero-left {
  flex: 1 1 520px;
  min-width: 300px;
}
@media (max-width: 768px) {
  .hero-container {
    flex-wrap: wrap;
  }
  .hero-left {
    flex: 1;
  }
}
.hero-left h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #111827;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: start;
}
.text-blue {
  color: var(--primary-color);
}
.hero-left p {
  font-size: 2rem;
  color: #4b5563;
  margin-bottom: 32px;
  /* max-width: 520px; */
}
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.btn {
  padding: 15px 40px;
  font-size: 1.3rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s ease;
}
.arrow-icon {
  color: var(--white);
  margin-top: 3px;
  font-weight: 900;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2);
}
.btn-primary:hover {
  color: var(--white);
}
.btn-secondary {
  background-color: var(--white);
  color: #111827;
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.btn-secondary:hover {
  color: #111827;
}
.hero-right {
  flex: 1 1 500px;
  display: flex;
  justify-content: end;
  min-width: 300px;
}
.hero-right img {
  width: 100%;
  /* max-width: 560px; */
  border-radius: 8px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
/* ========== Responsive ========== */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-left h1 {
    font-size: 2.2rem;
  }
  .hero-left p {
    font-size: 1rem;
  }
}