/* Navbar container */
.navbar-container {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo */
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--global-secondary-color); /* Light blue */
    text-decoration: none;
  }
  
  .navbar-logo:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  /* Nav links container */
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  /* Individual nav links */
  .nav-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 0 10px 0 !important;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color:var(--global-secondary-color); /* Light blue on hover */
  }

  .nav-link-blank {
    display: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /* Menu icon for mobile */
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .close-menu-icon {
    display: none;
  }

  .close-menu-icon:hover {
    background-color: #333;
    color: white;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: white;
      width: 100%;
      padding: 10px 0 0 10px;
      display: none; /* Hidden by default */
    }

    .nav-links:hover {
      border-bottom: 1px solid black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.719);
    }
  
  
    .nav-links.open {
      display: flex; /* Show when menu is open */
      justify-content: center;
    }
  
    .menu-icon {
      display: block; /* Show menu icon on smaller screens */
      color: black;
    }

    .close-menu-icon.show {
      display: block;
      position: absolute;
      z-index:  100000000;
      top: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: black;
      border: 1px solid black;
    }
  }