.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form-container {
    width: 454px;
    height: 511px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 5%;
    border: 1px solid var(--global-secondary-color);
}

.inputs-container {
    display: flex;
    flex-direction: column;
    height: 5vh;
    justify-content: space-around;
}

.remember-me-checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2px 0 0;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}