.btn-custom {
    width: 100%;
    background-color: #14c78e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 18px;
    font-weight: 630;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 20px;
  }
  
  .btn-custom:hover {
    background-color: rgba(18, 177, 121, 0.842);
    transform: translateY(-2px);
  
    border: 1px solid transparent;
  }
  
  .btn-custom:focus {
    outline: none;
    box-shadow: none;
  }